<!DOCTYPE html>
<!-- 
  Van Gogh Camera HTML
  @author Teki Chan
  @since  13 May 2020
-->
<html>
  <head>
    <%= htmlWebpackPlugin.tags.headTags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="en-EN" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  
  <body>
    <div id='artpaintingContainer'>
      <canvas id='jeeFaceFilterCanvas' class='artPainting'></canvas>
    </div>
    <div id="buttonContainer" class="navbar">
      <a href="./" class="active"><img id="homeButtonImg" /><br/>Home</a>
      <a href="#change" id="changeButton"><img id="changeButtonImg" /><br/>Change</a>
      <a href="#camera" id="cameraButton"><img id="cameraButtonImg" /><br/>Camera</a>
    </div>   
  </body>
</html>
 
 
