<!DOCTYPE html>
<html>
  <head>
    <%= htmlWebpackPlugin.tags.headTags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="en-EN" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  
  <body>
    <div id='artpaintingContainer'>
      <canvas width="1300" height="1600" id='jeeFaceFilterCanvas' class='artPainting'></canvas>
    </div>
    <div id="buttonContainer" class="navbar">
      <a href="./" class="active"><img id="homeButtonImg" /><br/>Home</a>
      <a href="#camera" id="cameraButton"><img id="cameraButtonImg" /><br/>Camera</a>
    </div>   
  </body>
</html>
 
 
